In [32]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.svm import SVR
import numpy as np

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.base import TransformerMixin
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor

In [2]:
hourly=pd.read_csv('./hour.csv')

In [2]:
int(0/1)

0

In [3]:
X_Train = hourly[hourly['dteday'] < '2012-07-01'.astype(datetime.datetime)].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THst_EM IN DATA
# X_Test = hourly[(hourly['dteday'] >= '2012-07-01') & (hourly['dteday'] <= '2012-09-31')].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THEM IN DATA
# Y_cnt_test =hourly['cnt'][(hourly['dteday'] >= '2012-07-01') & (hourly['dteday'] <= '2012-09-31')]
# Y_cnt_train =hourly['cnt'][hourly['dteday'] < '2012-07-01']

NameError: name 'hourly' is not defined

In [58]:
X_Train1 = hourly[hourly['dteday'] < '2012-10-01'].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THst_EM IN DATA
X_Test1 = hourly[hourly['dteday'] >= '2012-10-01'].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THEM IN DATA
Y_cnt_test1 =hourly['cnt'][hourly['dteday'] >= '2012-10-01']
Y_cnt_train1 =hourly['cnt'][hourly['dteday'] < '2012-10-01']

In [14]:
#2012 Q3
regr = LinearRegression(fit_intercept =True)
regr.fit(X_Train, Y_cnt_train) #2011-2012Q3
y_pred = regr.predict(X_Test) #2012Q3
regr.score(X_Test, Y_cnt_test) #2012Q3

0.2789473627513266

In [15]:
# 2012 Q4
regr = LinearRegression(fit_intercept =True)
regr.fit(X_Train, Y_cnt_train) #2011-2012Q3
y_pred1 = regr.predict(X_Test1) #2012Q4
regr.score(X_Test1, Y_cnt_test1) #2012Q4

0.29461190871802767

In [73]:
# 2012 Q3 
model= GradientBoostingRegressor()
model.fit(X_Train, Y_cnt_train) #2011-2012Q3
y_GBR_pred = model.predict(X_Test) #2012Q3
model.score(X_Test, Y_cnt_test) #2012Q3

0.7736718145603823

In [74]:
# 2012 Q4
model= GradientBoostingRegressor()
model.fit(X_Train, Y_cnt_train) #2011-2012Q3
y_GBR_pred1 = model.predict(X_Test1) #2012Q4
model.score(X_Test1, Y_cnt_test1) #2012Q4

0.7066655496840477

In [81]:
#2012Q3 dataset with predictions for base models and acutal bikers
dataset = pd.DataFrame({'y_GBR_pred':y_GBR_pred,'Y_pred':y_pred,'actual':Y_cnt_test})
dataset.reset_index(drop=True,inplace=True)

In [82]:
#2012 (Q3-Q4) predictions for base models and actual bikers
dataset1 = pd.DataFrame({'y_GBR_pred':y_GBR_pred1,'Y_pred':y_pred1,'actual':Y_cnt_test1})
dataset1.reset_index(drop=True,inplace=True)
dataset1.head()
furqan=pd.concat([dataset,dataset1],axis=0)
furqan.reset_index(drop=True,inplace=True)

In [83]:
# Explanatory data for Q3 and Q4
Explantory_Q3_Q4=pd.concat([X_Test,X_Test1],axis=0)
Explantory_Q3_Q4.reset_index(drop=True,inplace=True)

In [84]:
# Date column seperated into a new dataframe. It will be concatenated with 2012Q4 predictions
date =hourly['dteday'][hourly['dteday'] >= '2012-07-01'] 
date=pd.DataFrame(date)
date.reset_index(drop=True,inplace=True)

In [85]:
# 2012 (Q3-Q4) predictions from base models and explanatory data with date
new_dataset=pd.concat([date,Explantory_Q3_Q4,furqan],axis=1)
new_dataset

,dteday,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,y_GBR_pred,Y_pred,actual
0,2012-07-01,13004,3,1,7,0,0,0,0,1,0.76,0.7273,0.66,0.0000,108.829041,230.153527,149
1,2012-07-01,13005,3,1,7,1,0,0,0,1,0.74,0.6970,0.70,0.1343,86.168197,226.145672,93
2,2012-07-01,13006,3,1,7,2,0,0,0,1,0.72,0.6970,0.74,0.0896,77.927478,223.514035,90
3,2012-07-01,13007,3,1,7,3,0,0,0,1,0.72,0.7121,0.84,0.1343,52.826663,218.841103,33
4,2012-07-01,13008,3,1,7,4,0,0,0,1,0.70,0.6667,0.79,0.1940,74.751129,223.929032,4
5,2012-07-01,13009,3,1,7,5,0,0,0,1,0.68,0.6364,0.79,0.1045,74.751129,220.017959,10
6,2012-07-01,13010,3,1,7,6,0,0,0,1,0.70,0.6667,0.79,0.0896,96.123257,234.717626,27
7,2012-07-01,13011,3,1,7,7,0,0,0,1,0.74,0.6970,0.70,0.0000,324.115206,263.547506,50
8,2012-07-01,13012,3,1,7,8,0,0,0,1,0.78,0.7424,0.62,0.1045,401.218986,299.439080,142
9,2012-07-01,13013,3,1,7,9,0,0,0,1,0.82,0.7879,0.56,0.0000,328.428062,326.270073,219
10,2012-07-01,13014,3,1,7,10,0,0,0,1,0.86,0.7879,0.44,0.2985,239.478915,364.407496,366
11,2012-07-01,13015,3,1,7,11,0,0,0,1,0.88,0.8030,0.39,0.2239,255.607915,382.204440,377
12,2012-07-01,13016,3,1,7,12,0,0,0,1,0.90,0.8182,0.37,0.2239,347.375269,397.324973,433
13,2012-07-01,13017,3,1,7,13,0,0,0,1,0.92,0.8333,0.33,0.2537,347.375269,416.461593,420
14,2012-07-01,13018,3,1,7,14,0,0,0,1,0.92,0.8333,0.33,0.2537,347.375269,423.325325,444
15,2012-07-01,13019,3,1,7,15,0,0,0,1,0.90,0.8182,0.37,0.2836,347.375269,419.596728,345
16,2012-07-01,13020,3,1,7,16,0,0,0,1,0.92,0.8333,0.33,0.2985,412.394623,438.313912,313
17,2012-07-01,13021,3,1,7,17,0,0,0,1,0.92,0.8030,0.26,0.2985,426.202682,449.956910,413
18,2012-07-01,13022,3,1,7,18,0,0,0,1,0.88,0.7727,0.32,0.3582,448.155242,438.810385,370
19,2012-07-01,13023,3,1,7,19,0,0,0,1,0.84,0.7424,0.39,0.1343,434.848190,418.081302,382
20,2012-07-01,13024,3,1,7,20,0,0,0,1,0.84,0.7424,0.39,0.1343,314.531991,424.945034,332
21,2012-07-01,13025,3,1,7,21,0,0,0,1,0.84,0.7424,0.39,0.1343,248.482884,431.808766,258
22,2012-07-01,13026,3,1,7,22,0,0,0,1,0.82,0.7424,0.43,0.1343,231.800557,430.435437,151
23,2012-07-01,13027,3,1,7,23,0,0,0,3,0.78,0.7121,0.52,0.1642,123.675662,399.225408,110
24,2012-07-02,13028,3,1,7,0,0,1,1,2,0.76,0.7121,0.58,0.2239,53.978988,238.304122,43
25,2012-07-02,13029,3,1,7,1,0,1,1,2,0.76,0.7121,0.58,0.1940,45.638568,244.326166,17
26,2012-07-02,13030,3,1,7,2,0,1,1,2,0.74,0.6667,0.51,0.2537,42.503082,252.612480,15
27,2012-07-02,13031,3,1,7,3,0,1,1,2,0.72,0.6667,0.54,0.4179,39.050177,257.460589,5
28,2012-07-02,13032,3,1,7,4,0,1,1,2,0.72,0.6667,0.54,0.2985,39.050177,260.963200,12
29,2012-07-02,13033,3,1,7,5,0,1,1,2,0.72,0.6667,0.51,0.0000,40.352701,264.221710,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4346,2012-12-30,17350,1,1,12,18,0,0,0,2,0.24,0.2121,0.44,0.2985,340.154676,218.264340,125
4347,2012-12-30,17351,1,1,12,19,0,0,0,1,0.34,0.3636,0.61,0.0000,284.545974,238.029378,102
4348,2012-12-30,17352,1,1,12,20,0,0,0,1,0.22,0.1970,0.47,0.3284,194.546745,230.212195,72
4349,2012-12-30,17353,1,1,12,21,0,0,0,1,0.20,0.2121,0.51,0.1642,147.194924,227.413578,47
4350,2012-12-30,17354,1,1,12,22,0,0,0,1,0.20,0.1970,0.55,0.1940,116.137631,225.522455,36
4351,2012-12-30,17355,1,1,12,23,0,0,0,1,0.20,0.1970,0.51,0.2239,87.167509,239.624646,49
4352,2012-12-31,17356,1,1,12,0,0,1,1,1,0.18,0.1818,0.55,0.1940,45.497196,68.947844,34
4353,2012-12-31,17357,1,1,12,1,0,1,1,1,0.18,0.1818,0.55,0.1940,37.156777,75.811576,19
4354,2012-12-31,17358,1,1,12,2,0,1,1,1,0.16,0.1667,0.59,0.1642,26.433117,70.402419,11
4355,2012-12-31,17359,1,1,12,3,0,1,1,1,0.16,0.1818,0.59,0.1045,22.980211,78.782546,1
4356,2012-12-31,17360,1,1,12,4,0,1,1,1,0.14,0.1667,0.69,0.1045,23.467298,64.617105,3
4357,2012-12-31,17361,1,1,12,5,0,1,1,1,0.16,0.1515,0.64,0.1940,22.135919,80.618395,9
4358,2012-12-31,17362,1,1,12,6,0,1,1,1,0.16,0.1667,0.64,0.1642,105.171199,89.861382,40
4359,2012-12-31,17363,1,1,12,7,0,1,1,1,0.16,0.1818,0.64,0.1343,260.085973,99.080381,85
4360,2012-12-31,17364,1,1,12,8,0,1,1,1,0.14,0.1515,0.69,0.1343,367.135397,89.692777,196
4361,2012-12-31,17365,1,1,12,9,0,1,1,2,0.18,0.2121,0.64,0.1045,252.757158,113.010818,157
4362,2012-12-31,17366,1,1,12,10,0,1,1,2,0.20,0.2121,0.69,0.1343,209.092318,114.557746,120
4363,2012-12-31,17367,1,1,12,11,0,1,1,2,0.22,0.2273,0.60,0.1940,215.507880,142.553190,157
4364,2012-12-31,17368,1,1,12,12,0,1,1,2,0.24,0.2273,0.56,0.1940,240.747287,157.653981,224
4365,2012-12-31,17369,1,1,12,13,0,1,1,2,0.26,0.2576,0.44,0.1642,246.550681,191.124526,203
4366,2012-12-31,17370,1,1,12,14,0,1,1,2,0.28,0.2727,0.45,0.2239,246.550681,203.106869,247
4367,2012-12-31,17371,1,1,12,15,0,1,1,2,0.28,0.2879,0.45,0.1343,248.050486,210.666481,315
4368,2012-12-31,17372,1,1,12,16,0,1,1,2,0.26,0.2576,0.48,0.1940,278.009041,206.157822,214
4369,2012-12-31,17373,1,1,12,17,0,1,1,2,0.26,0.2879,0.48,0.0896,437.821944,216.497768,164
4370,2012-12-31,17374,1,1,12,18,0,1,1,2,0.26,0.2727,0.48,0.1343,433.643398,221.401681,122
4371,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,320.930859,206.719831,119
4372,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,215.188699,213.583562,89
4373,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,174.503708,227.660820,90
4374,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,132.073402,243.276592,61
4375,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,96.683286,235.747588,49

In [86]:
#Train-Test split for XGBOOST
X_Train2 = new_dataset[new_dataset['dteday'] < '2012-10-01'].drop(['actual','dteday'],axis=1)
X_Test2 = new_dataset[new_dataset['dteday'] >= '2012-10-01'].drop(['actual','dteday'],axis=1)
Y_cnt_test2 =new_dataset['actual'][new_dataset['dteday'] >= '2012-10-01']
Y_cnt_train2 =new_dataset['actual'][new_dataset['dteday'] < '2012-10-01']

In [87]:
# Predictions with level 1 model for 2012 Q4
model= GradientBoostingRegressor()
model.fit(X_Train2, Y_cnt_train2)
model.score(X_Test2, Y_cnt_test2)

0.745566154357329