In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.svm import SVR
import numpy as np
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.base import TransformerMixin

In [34]:
hourly=pd.read_csv('./hour.csv')
daily=pd.read_csv('./hour.csv')

In [3]:
hourly.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [4]:
daily.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [41]:
#X1_Train = hourly[hourly['dteday'] < '2012-10-01'].drop(['cnt','registered','dteday'],axis=1) ## CASUAL IN DATA
#X2_Train =  hourly[hourly['dteday'] < '2012-10-01'].drop(['cnt','casual','dteday'],axis=1) ## REGISTERED IN DATA 
#X3_Train = hourly[hourly['dteday'] < '2012-10-01'].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THEM IN DATA

#X1_Test = hourly[hourly['dteday'] >= '2012-10-01'].drop(['cnt','registered','dteday'],axis=1)## CASUAL IN DATA
#X2_Test =  hourly[hourly['dteday'] >='2012-10-01'].drop(['cnt','casual','dteday'],axis=1)## REGISTERED IN DATA
#X3_Test = hourly[hourly['dteday'] >= '2012-10-01'].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THEM IN DATA

#y_cas_train =hourly['casual'][hourly['dteday'] < '2012-10-01']
#y_cnt_train =hourly['cnt'][hourly['dteday'] < '2012-10-01']
#y_reg_train =hourly['registered'][hourly['dteday'] < '2012-10-01']

#y_cas_test =hourly['casual'][hourly['dteday'] >= '2012-10-01']
#y_cnt_test =hourly['cnt'][hourly['dteday'] >= '2012-10-01']
#y_reg_test =hourly['registered'][hourly['dteday'] >= '2012-10-01']

In [7]:
#print(y_cnt_test)
#print(y_reg_test + y_pred)
#print(np.ravel(y_cnt_test),np.ravel((y_reg_test + y_pred)))

In [8]:
#SVR_Lin = SVR(kernel='linear',C=1e3)
#SVR_Lin.fit(X2_Train, y_cas_train)
#y_pred=SVR_Lin.predict(X2_Test)
#SVR_Lin.score(np.ravel(y_cnt_test),np.ravel((y_reg_test + y_pred)))

In [9]:
#regr_2 = AdaBoostRegressor(regr.fit(X2_Train, y_cas_train))
#regr_2.fit(X2_Train, y_cas_train)
#y_2 = regr_2.predict(X2_Test)

In [50]:
X_Train = hourly[hourly['dteday'] < '2012-07-01'].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THst_EM IN DATA
X_Test = hourly[(hourly['dteday'] >= '2012-07-01') & (hourly['dteday'] <= '2012-09-31')].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THEM IN DATA
Y_cnt_test =hourly['cnt'][(hourly['dteday'] >= '2012-07-01') & (hourly['dteday'] <= '2012-09-31')]
Y_cnt_train =hourly['cnt'][hourly['dteday'] < '2012-07-01']

In [62]:
X_Train1 = hourly[hourly['dteday'] < '2012-10-01'].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THst_EM IN DATA
X_Test1 = hourly[hourly['dteday'] >= '2012-10-01'].drop(['cnt','casual','registered','dteday'],axis=1)## NONE OF THEM IN DATA
Y_cnt_test1 =hourly['cnt'][hourly['dteday'] >= '2012-10-01']
Y_cnt_train1 =hourly['cnt'][hourly['dteday'] < '2012-10-01']

In [51]:
regr = LinearRegression(fit_intercept =True)
regr.fit(X_Train, Y_cnt_train) 
y_pred = regr.predict(X_Test) 
regr.score(X_Test, Y_cnt_test)

0.2789473627513266

In [71]:
regr = LinearRegression(fit_intercept =True)
regr.fit(X_Train1, Y_cnt_train1) 
y_pred1 = regr.predict(X_Test1) 
regr.score(X_Test1, Y_cnt_test1)

0.2939320614896219

In [52]:
polynomial_features=PolynomialFeatures(degree=2)
x_poly=polynomial_features.fit_transform(X_Train)
X_test_poly=polynomial_features.fit_transform(X_Test)
model=LinearRegression()
model.fit(x_poly, Y_cnt_train)
y_poly_pred = model.predict(X_test_poly)
model.score(X_test_poly, Y_cnt_test)

0.371592309474932

In [64]:
polynomial_features=PolynomialFeatures(degree=2)
x_poly=polynomial_features.fit_transform(X_Train1)
X_test_poly=polynomial_features.fit_transform(X_Test1)
model=LinearRegression()
model.fit(x_poly, Y_cnt_train1)
y_poly_pred1 = model.predict(X_test_poly)
model.score(X_test_poly, Y_cnt_test1)

0.46424469832833104

In [85]:
dataset = pd.DataFrame({'y_poly_pred':y_poly_pred,'Y_pred':y_pred,'actual':Y_cnt_test})
dataset.reset_index(drop=True,inplace=True)
dataset.head()

   y_poly_pred      Y_pred  actual
0    29.407885  230.153527     149
1    69.111436  226.145672      93
2    96.641895  223.514035      90
3   113.286301  218.841103      33
4   148.528556  223.929032       4

In [99]:
dataset1 = pd.DataFrame({'y_poly_pred':y_poly_pred1,'Y_pred':y_pred1,'actual':Y_cnt_test1})
dataset1.reset_index(drop=True,inplace=True)
dataset1.head()
furqan=pd.concat([dataset,dataset1],axis=0)
furqan.reset_index(drop=True,inplace=True)
furqan

      y_poly_pred      Y_pred  actual
0       29.407885  230.153527     149
1       69.111436  226.145672      93
2       96.641895  223.514035      90
3      113.286301  218.841103      33
4      148.528556  223.929032       4
5      156.065910  220.017959      10
6      191.674329  234.717626      27
7      236.289601  263.547506      50
8      316.361891  299.439080     142
9      354.001047  326.270073     219
10     452.015235  364.407496     366
11     477.563736  382.204440     377
12     504.952507  397.324973     433
13     542.735195  416.461593     420
14     555.493099  423.325325     444
15     552.999583  419.596728     345
16     582.367923  438.313912     313
17     594.369440  449.956910     413
18     575.565617  438.810385     370
19     489.454657  418.081302     382
20     485.017295  424.945034     332
21     478.039833  431.808766     258
22     456.415407  430.435437     151
23     347.504046  399.225408     110
24      -4.119207  238.304122      43
25      35.843389  244.326166      17
26      79.470263  252.612480      15
27     129.786705  257.460589       5
28     157.416412  260.963200      12
29     157.961433  264.221710      40
...           ...         ...     ...
4346   167.019280  243.985985     125
4347   218.195241  248.417747     102
4348   107.759108  253.115188      72
4349    62.356607  246.416916      47
4350    18.743667  244.980120      36
4351     6.401384  261.525529      49
4352   -49.153161   75.395115      34
4353   -14.446576   83.017358      19
4354     4.409619   76.689507      11
4355    40.274815   84.447623       1
4356    37.567756   67.930871       3
4357    72.934810   88.568593       9
4358    94.782356   97.624587      40
4359   114.084630  106.658474      85
4360   106.008247   96.986094     196
4361   133.862545  124.999711     157
4362   147.302438  126.683347     120
4363   177.758135  159.107455     157
4364   210.989592  176.712327     224
4365   254.020519  213.728872     203
4366   262.420690  227.027370     247
4367   270.714633  233.523260     315
4368   237.015784  230.228259     214
4369   237.983666  238.782240     164
4370   224.681360  245.608618     122
4371   181.694008  228.889876     119
4372   165.142217  236.512119      89
4373   181.466415  247.502572      90
4374   172.390307  264.179573      61
4375   122.276228  254.604810      49

[4376 rows x 3 columns]

In [102]:
date =hourly['dteday'][hourly['dteday'] >= '2012-07-01'] 
date=pd.DataFrame(date)
date.reset_index(drop=True,inplace=True)

In [103]:
two.reset_index(drop=True,inplace=True)
new_dataset=pd.concat([date,furqan],axis=1)

In [100]:
X_Train2 = new_dataset[new_dataset['dteday'] < '2012-10-01'].drop(['actual','dteday'],axis=1)## NONE OF THst_EM IN DATA
X_Test2 = new_dataset[new_dataset['dteday'] >= '2012-10-01'].drop(['actual','dteday'],axis=1)## NONE OF THEM IN DATA
Y_cnt_test2 =new_dataset['actual'][new_dataset['dteday'] >= '2012-10-01']
Y_cnt_train2 =new_dataset['actual'][new_dataset['dteday'] < '2012-10-01']

In [101]:
model= GradientBoostingRegressor()
model.fit(X_Train2, Y_cnt_train2)
model.score(X_Test2, Y_cnt_test2)

0.3114018763793841